textarea.ec {
    height: 600px;
}

/*
  Originals below. The rest are calculated using Kuler by adjusting background-color.
  background-color: #FFFFDB;
  border-color: #F7E084;
*/

.arrow {
    background-color: #FFCC00 !important;
}
.lesser-arrow {
    background-color: #FFE680 !important;
}
.kc .arrow {
    border-color: #F79400 !important;
}

.error {
    background-color: #FFBCBC !important;
}
.kc .error {
    border-color: #F7214C !important;
}

.warning {
    background-color: #FFFABC !important;
}
.kc .warning {
    border-color: #F7BC21 !important;
}

.less-important {
    opacity: .33;
}
.Ob .less-important {
    opacity: 1;
}

.filled-star {
    background-color: #BCDEFF !important;
}
.kc .filled-star {
    border-color: #21B8F7 !important;
}

.empty-star {
    background-color: #DEEEFF !important;
}
.kc .empty-star {
    border-color: #8ED6F7 !important;
}


/* Current Date */
.Z.current-date {
    background: #444;
    margin-left: 0 !important;
    border-radius: 3px 3px 0 0;
}
.Z.current-date .Y {
    color: white;
}


/* Task Count */
.task-count {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    padding: 1px 5px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: blue;
}
